@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>About me.  CV ....</p>
<a href="https://www.sololearn.com/profile/17707297" target="_blank">https://www.sololearn.com/profile/17707297</a>
