@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<p>Projects</p>
<a href="https://github.com/jlivingstonsg?tab=repositories" target="_blank">Visit my GitHub repositories here.
    https://github.com/jlivingstonsg?tab=repositories </a>
